<div class="h-screen w-full bg-gris-clair">
  <div class="pt-[75px] pl-[250px]">
   <a routerLink="/dashboard/{{test}}" class="cursor-pointer"> <span class="material-icons text-bleudenuit"> arrow_back_ios </span></a>
    <p class="text-bleudusite text-5xl font-bold">DIGIREC ESMT</p>
    <!-- Choix du type d'operation -->
    <p class="py-2 text-xl text-gris-texte"> Veuillez Choisir votre type d'operation</p>
  <div class="flex my-2 space-x-4">
    <div class="flex flex-col space-y-1 items-center justify-center">
      <label for="" class="text-xl text-gris-texte font-semibold">Frais de Dossier</label>
    <a (click)="dossier() "><input type="radio" class="w-6 h-6" name="frais"  value="Frais de Dossier" id=""></a>
    </div>
    <div class="flex flex-col space-y-1 items-center justify-center">
      <label for="" class="text-xl text-gris-texte  font-semibold">Frais de Scolarite</label>
     <a (click)="scolarite() "> <input type="radio" class="w-6 h-6" checked name="frais" value="Frais de Scolarite"  id=""></a>
    </div>
    <div class="flex flex-col space-y-1 items-center justify-center">
      <label for="" class="text-xl text-gris-texte  font-semibold">Frais de Formation/Certification</label>
      <a (click)="certif() "><input type="radio" name="frais" class="w-6 h-6"  value="Frais de Formation/Certification" id=""></a>
    </div>
    <div class="flex flex-col space-y-1 items-center justify-center">
      <label for="" class="text-xl text-gris-texte font-semibold">Frais de réinscription </label>
      <a (click)="module() "><input type="radio" name="frais" class="w-6 h-6" value="Frais de rattrapage module"  id=""></a>
    </div>
  </div>



  <div class="flex justify-between  ">
    <!-- element a changer   -->
     <!-- pour frais de Dossier -->
     <ng-container *ngIf="FD==true"  [ngTemplateOutlet]="fraisdosiier" ></ng-container>
     <!-- fin frais de Dossier -->
     <!-- pour frais de Scolarite -->
     <ng-container  *ngIf="FS==true"  [ngTemplateOutlet]="fraisscolarite" ></ng-container>
     <!-- fin frais de Scolarite -->
      <!-- pour frais de certification -->
    <ng-container *ngIf="FC==true"  [ngTemplateOutlet]="fraiscertif" ></ng-container>
    <!-- fin frais de certification -->
    <!-- pour frais de module -->
    <ng-container *ngIf="FM==true"  [ngTemplateOutlet]="fraismodule" ></ng-container>
    <!-- fin frais de module -->

    <!-- fin element a changer  -->


  </div>


<!-- fin elements -->
    <div class="absolute top-3 right-3 flex flex-col border p-2 rounded-[20px] bg-gray-100" >
      <app-droitephoto></app-droitephoto>
    </div>

  <div class="relative top-3">
    <span>
      <img class="absolute right-2 bottom-1 w-16 h-16 rounded-lg" src="../../assets/logo.jpeg" alt="">
   
    </span>
  </div>
  </div>
  <div id="ex1" class="modal">
    <ng-container *ngIf="serveurresponse==true"[ngTemplateOutlet]="bon" ></ng-container>
    <ng-container *ngIf="serveurresponse==false"[ngTemplateOutlet]="mauvais" ></ng-container>
  </div>
  <div id="ex2" class="modal">
    <ng-container *ngIf="ancien==true" [ngTemplateOutlet]="anciena" ></ng-container>
    <ng-container *ngIf="nouveau==true" [ngTemplateOutlet]="nouveaur" ></ng-container>
  </div>

  <!-- Link to open the modal -->
<ng-template #bon>
  <p>Votre enregistrement a été effectue avec succés</p>
  <a routerLink="/recu/{{code.value}}/{{montant.value}}/Frais de Scolarité /{{date.value}}" rel="modal:close" (click)="miseajour() "><p class="text-bleudusite">Imprimer le reçu</p></a>
</ng-template>
<ng-template #mauvais>
  <p>Votre enregistrement n'a pas été effectue avec succes</p>
  <p>Veuillez revoir les informations fournies</p>
</ng-template>
<ng-template  #paiement>
  <div class="flex flex-col space-y-1 ">
    <div class="flex flex-col">
      <label for="nombanque" class="text-white">Banque</label>
      <div class="col-span-6 sm:col-span-3 lg:col-span-2">
        <select id="Banque" [formControl]="banque"  autocomplete="classe-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm text-black ">
          <option>SGBS</option>
          <option>CBAO</option>
          <option>BSIC</option>
          <option>FBNB</option>
        </select>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="reference"  class="text-white">Reférence</label>
      <input class="rounded-full p-3" type="text" [formControl]="reference" id="">
    </div>
  </div>
 
</ng-template>
<ng-template #fraisdosiier>
  <div class="flex flex-col  space-y-4">
    <div class="flex items-center space-x-2 my-[20px]  ">
      <div class="flex space-x-2">
        <a href="#ex2" rel="modal:open" class=" "> <button (click)="afficheancien()" class="bg-bleudusite border-2 py-3 px-8  rounded-[20px]" (click)="affiche() ">
          <span class="text-white" >Ancien Etudiant</span>
        </button></a>
        <a href="#ex2" rel="modal:open" class=" "> <button class="bg-bleudusite border-2 py-3 px-8  rounded-[20px]" (click)="affichenouveau()">
          <span class="text-white" >Nouveau Etudiant</span>
        </button></a>
      </div>

  </div>
  </div>
</ng-template>
<ng-template #fraisscolarite>
  <div class="flex w-full mb-11 mt-4 justify-between">
    <div class="flex flex-col  space-y-4">
      <div class="flex items-center space-x-2 my-[20px]  ">
        <label for="" class="text-xl font-semibold text-gris-texte">Nº carte étudiant</label>
        <input type="text" class="rounded-full p-3" [formControl]="code" placeholder="ESMT_001_ETU"/>
        <button class="bg-bleudusite border-2 py-3 px-8 w-[25%] rounded-[20px]" (click)="affiche() ">
          <span class="text-white" >Chercher</span>
        </button>
      </div>
      <div class="flex space-x-8">
        <div class="flex flex-col space-y-2">
          <label for="annee"
            ><div class="text-xl font-semibold text-gris-texte">Année scolaire</div>
          </label>
          <div class="flex items-center w-full bg-white rounded-full">
            <input type="text" class="rounded-full p-3" value="{{stock[0].annee_scolaire}} " placeholder="2021-2022" />

          </div>
        </div>
        <div class="flex flex-col space-y-2">
          <label for="Classe"
            ><div class="text-xl  font-semibold text-gris-texte">Classe</div>
          </label>
          <div class="flex items-center w-full bg-white rounded-full">
            <input type="text" class="rounded-full p-3" value="{{stock[0].classe}}" placeholder="LMEN 2"/>

          </div>
        </div>
      </div>
      <div class="flex space-x-8">
        <div class="flex flex-col">
          <label for="nom"><div class="text-xl font-semibold text-gris-texte">Nom</div> </label>
          <div class="flex items-center w-full bg-white rounded-full">
            <input type="text" class="rounded-full p-3" value="{{stock[0].nom}}" placeholder="MBAYE" />

          </div>
        </div>

        <div class="flex space-x-8">
        <div class="flex flex-col">
          <label for="Prenom"
            ><div class="text-xl font-semibold text-gris-texte">Prénom</div>
          </label>
          <div class="flex items-center w-full bg-white rounded-full">
            <input type="text" class="rounded-full p-3" value="{{stock[0].prenom}}" placeholder="ABDOU" />

          </div>
        </div>
      </div>
      </div>
      
     <div class="flex space-x-2">
      <a href="#ex1" rel="modal:open" class=" ">  <button (click)="postversement() " class="bg-bleudusite border-2 py-3 px-8 w-[100%] rounded-[20px]">
        <span class="text-white">Enregistrer</span>
      </button></a>

     </div>

    </div>
    <div class="bg-bleudusite p-8 mt-8 ml-2 mr-20 rounded-[10%] shadow-md">
      <div class="flex flex-col items-center space-y-8">
       
        <div class="flex flex-col space-y-2 w-[80%]">
          <div class="flex flex-col mb-5  items-center">
            <label for="Prenom"><div class="text-xl font-bold text-white">
              Montant</div>
            </label>
            <input type="text" class="w-full border rounded-full p-3" [formControl]="montant" placeholder="1 255 000 FCFA"/>
          </div>
          <div class="flex flex-col items-center mt-1">
            <label for="Prenom"><div class="text-xl font-bold text-white">
              Type de versement</div>
            </label>

          <div class="flex justify-between space-x-2 space-y-1 text-white ">
            <div class=" flex flex-col mt-1 items-center">
              <label for="">Espèce</label>
              <a (click)="affichecontraire() "> <input type="radio" class="w-6 h-6" value="Espece" [formControl]="type" ></a> 
            </div>
            <div class=" flex flex-col items-center">
              <label for="">Chèque</label>
              <a (click)="affichepaiem() "><input type="radio" value="Cheque" class="w-6 h-6" [formControl]="type" ></a> 
            </div>
            <div class=" flex flex-col items-center">
              <label for="">Virement</label>
              <a (click)="affichepaiem() "> <input type="radio" value="Virement" class="w-6 h-6" [formControl]="type"  ></a>
            </div>
            <div class="flex flex-col items-center">
              <label for="">Banque</label>
             <a (click)="affichepaiem() "><input type="radio" value="Banque" class="w-6 h-6" [formControl]="type" ></a> 
            </div>
          </div>
          <div>
            <ng-container *ngIf="paiemen==true"  [ngTemplateOutlet]="paiement" ></ng-container>
          </div>

          </div>
          <div class="flex flex-col items-center">
            <label for="Prenom">
              <div class="text-md font-bold text-white">
                Date
              </div>
            </label>
            <div class="">
              <input type="date" class="rounded-full p-3 border text-gris-texte" placeholder="01/01/2022" [formControl]="date"/>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #fraiscertif>
  <div class="flex flex-col  space-y-4">
    <div class="flex items-center space-x-2 my-[20px]  ">
      <label for="" class="text-xl font-bold">Code Certification</label>
      <input type="text" class="rounded-full p-3" [formControl]="code" placeholder="numero etudiant "/>
      <button class="bg-bleudusite border-2 py-3 px-8 w-[20%] rounded-[20px]" (click)="affiche() ">
        <span class="text-white" >Chercher</span>
      </button>
    </div>
    <div class="flex space-x-8">
      <div class="flex flex-col space-y-2">
        <label for="annee"
          ><div class="text-xl font-bold">Annee Certification</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].annee_scolaire}} " placeholder="2021-2022" />

        </div>
      </div>
      <div class="flex flex-col">
        <label for="Classe"
          ><div class="text-xl font-bold">Niveau</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].classe}}" placeholder="MP-S2"/>

        </div>
      </div>
    </div>
    <div class="flex space-x-8">
      <div class="flex flex-col">
        <label for="nom"><div class="text-xl font-bold">Nom</div> </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].nom}}" placeholder="MBAYE" />

        </div>
      </div>
      <div class="flex flex-col">
        <label for="Prenom"
          ><div class="text-xl font-bold">Prenom</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].prenom}}" placeholder="ABDOU" />

        </div>
      </div>
    </div>
   <div class="flex space-x-2">
    <a href="#ex1" rel="modal:open" class=" ">  <button (click)="postversement() " class="bg-bleudusite border-2 py-3 px-8 w-[100%] rounded-[20px]">
      <span class="text-white">Enregistrer</span>
    </button></a>

   </div>
  </div>
</ng-template>
<ng-template #fraismodule>
  <div class="flex flex-col  space-y-4">
    <div class="flex items-center space-x-2 my-[20px]  ">
      <label for="" class="text-xl font-semibold text-gris-texte">Nº Carte étudiant</label>
      <input type="text" class="rounded-full p-3" [formControl]="code" placeholder="numero etudiant "/>
      <button class="bg-bleudusite border-2 py-3 px-8 w-[20%] rounded-[20px]" (click)="affiche() ">
        <span class="text-white" >Chercher</span>
      </button>
    </div>
    <div class="flex space-x-8">
      <div class="flex flex-col space-y-2">
        <label for="annee"
          ><div class="text-xl font-bold">Annee scolaire</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].annee_scolaire}} " placeholder="2021-2022" />

        </div>
      </div>
      <div class="flex flex-col">
        <label for="Classe"
          ><div class="text-xl font-bold">Classe</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].classe}}" placeholder="MP-S2"/>

        </div>
      </div>
    </div>
    <div class="flex space-x-8">
      <div class="flex flex-col">
        <label for="nom"><div class="text-xl font-bold">Nom</div> </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].nom}}" placeholder="MBAYE" />

        </div>
      </div>
      <div class="flex flex-col">
        <label for="Prenom"
          ><div class="text-xl font-bold">Prenom</div>
        </label>
        <div class="flex items-center w-full bg-white rounded-full">
          <input type="text" class="rounded-full p-3" value="{{stock[0].prenom}}" placeholder="ABDOU" />

        </div>
      </div>
    </div>
   <div class="flex space-x-2">
    <a href="#ex1" rel="modal:open" class=" ">  <button (click)="postversement() " class="bg-bleudusite border-2 py-3 px-8 w-[100%] rounded-[20px]">
      <span class="text-white">Enregistrer</span>
    </button></a>

   </div>
  </div>
</ng-template>
</div>
<!-- Ancien Etudiant -->
<ng-template #anciena>
  <div class="flex ">
    <div>
      <div class="flex space-x-2 ">
        <input type="text" class="rounded-full border  p-3" [formControl]="code" placeholder="numero etudiant "/>
            <button class="bg-bleudusite border-2 py-3 px-8  rounded-[20px]" (click)="affiche() ">
              <span class="text-white" >Chercher</span>
            </button>
          </div>
         <div class="flex flex-col space-y-10 mt-10">
          <div class="flex space-x-8 mt-2 ">
            <div class="flex flex-col space-y-3">
              <label for="annee"
                ><div class="text-xl font-bold">Année Scolaire</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full p-3 border " value="{{stock[0].annee_scolaire}} " placeholder="2021-2022" />

              </div>
            </div>
            <div class="flex flex-col space-y-3">
              <label for="Classe"
                ><div class="text-xl font-bold">Classe</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].classe}}" placeholder="MP-S2"/>

              </div>
            </div>
          </div>
          <div class="flex space-x-8">
            <div class="flex flex-col space-y-3">
              <label for="nom"><div class="text-xl font-bold">Nom</div> </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].nom}}" placeholder="MBAYE" />

              </div>
            </div>
            <div class="flex flex-col space-y-3">
              <label for="Prenom"
                ><div class="text-xl font-bold ">Prénom</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].prenom}}" placeholder="ABDOU" />
              </div>
            </div>
          </div>
         </div>
    </div>
      <div class="bg-bleudusite p-8 mt-8 ml-2 mr-20 rounded-[10%]">
        <div class="flex flex-col items-center space-y-8">
          <div class="flex flex-col items-center">
            <label for="Prenom"
              ><div class="text-xl font-bold text-white">LIBELLE</div>
            </label>
            <div class="flex items-center mt-2  w-full bg-white rounded-full">
             <select class="w-full rounded-lg py-2 px-2" [formControl]="libelle" >
               <option value="Frais de Dossier">Frais de Dossier</option>
               <option value="Frais de Scolarite">Frais de Scolarite</option>
               <option value="Frais de Scolarite">Frais de Formation/Certification</option>
               <option value="Frais de Scolarite">Frais de rattrapage module</option>
             </select>

            </div>
          </div>
          <div class="flex flex-col space-y-2 w-[80%]">
            <div class="flex flex-col items-center">
              <label for="Prenom"
                ><div class="text-md font-bold text-white">
                  Montant de la facture
                </div>
              </label>
              <input type="text" class="w-full border rounded-full p-3 text-gris-texte" [formControl]="montant" placeholder="1 255 000 fcfa"
  />
            </div>
            <div class="flex flex-col items-center">
              <label for="Prenom"
                ><div class="text-md font-bold text-white">
                 Date
                </div>
              </label>
              <div class="">
                <input
                  type="date"
                  class="rounded-full p-3 border"
                  placeholder="01/01/2022" [formControl]="date"
                />

              </div>
              <div class="flex flex-col items-center mt-1">
                <label for="Prenom"
                ><div class="text-md font-bold text-white">
                 Type de versement
                </div>
              </label>
              <div class="flex justify-between space-x-2 space-y-1 text-white ">
                <div class=" flex flex-col mt-1 items-center">
                  <label for="">Espece</label>
                 <a (click)="affichepaiem() "><input type="radio" name="test" id=""></a>
                </div>
                <div class=" flex flex-col items-center">
                  <label for="">Cheque</label>
                  <input type="radio" name="test" id="">
                </div>
                <div class=" flex flex-col items-center">
                  <label for="">Virement</label>
                  <input type="radio" name="test" id="">
                </div>
                <div class="flex flex-col items-center">
                  <label for="">Banque</label>
                  <input type="radio" name="test" id="">
                </div>
              </div>
              <div>
                <ng-container *ngIf="paiemen==true"  [ngTemplateOutlet]="paiement" ></ng-container>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
   <div class="flex space-x-2">
    <a href="#ex1" rel="modal:open" class=" ">  <button (click)="postversement() " class="bg-bleudusite border-2 py-3 px-8 w-[100%] rounded-[20px]">
      <span class="text-white">Enregistrer</span>
    </button></a>

   </div>
</ng-template>
<!-- Ancien Etudiant -->

<!-- Nouveau etudiant -->
<ng-template #nouveaur>
  <div class="flex ">
    <div>
      <div class="flex space-x-2 ">
        <input type="text" class="rounded-full border p-3" [formControl]="code" placeholder="numero etudiant "/>
            <button class="bg-bleudusite border-2 py-3 px-8  rounded-[20px]" (click)="affiche() ">
              <span class="text-white" >Chercher</span>
            </button>
          </div>
         <div class="flex flex-col space-y-10 mt-10">
          <div class="flex space-x-8 mt-2 ">
            <div class="flex flex-col space-y-3">
              <label for="annee"
                ><div class="text-xl font-bold">Concours choisie</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full p-3 border " value="{{stock[0].annee_scolaire}} " placeholder="2021-2022" />

              </div>
            </div>
            <div class="flex flex-col space-y-3">
              <label for="Classe"
                ><div class="text-xl font-bold">Niveau</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].classe}}" placeholder="MP-S2"/>

              </div>
            </div>
          </div>
          <div class="flex space-x-8">
            <div class="flex flex-col space-y-3">
              <label for="nom"><div class="text-xl font-bold">Nom</div> </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].nom}}" placeholder="MBAYE" />

              </div>
            </div>
            <div class="flex flex-col space-y-3">
              <label for="Prenom"
                ><div class="text-xl font-bold ">Prenom</div>
              </label>
              <div class="flex items-center w-full bg-white rounded-full">
                <input type="text" class="rounded-full border p-3" value="{{stock[0].prenom}}" placeholder="ABDOU" />
              </div>
            </div>
          </div>
         </div>
    </div>
      <div class="bg-bleudusite p-8 mt-8 ml-2 mr-20 rounded-[10%]">
        <div class="flex flex-col items-center space-y-8">
          <div class="flex flex-col items-center">
            <label for="Prenom"
              ><div class="text-xl font-bold text-white">LIBELLE</div>
            </label>
            <div class="flex items-center mt-2  w-full bg-white rounded-full">
             <select class="w-full rounded-lg py-2 px-2" [formControl]="libelle" id="">
               <option value="Frais de Dossier">Frais de Dossier</option>
               <option value="Frais de Scolarite">Frais de Scolarite</option>
               <option value="Frais de Scolarite">Frais de Formation/Certification</option>
               <option value="Frais de Scolarite">Frais de rattrapage module</option>
             </select>

            </div>
          </div>
          <div class="flex flex-col space-y-2 w-[80%]">
            <div class="flex flex-col items-center">
              <label for="Prenom"
                ><div class="text-md font-bold text-white">
                  Montant de la facture
                </div>
              </label>
              <input type="text" class="w-full border rounded-full p-3" [formControl]="montant" placeholder="1 255 000 fcfa"
  />
            </div>
            <div class="flex flex-col items-center">
              <label for="Prenom"
                ><div class="text-md font-bold text-white">
                 Date
                </div>
              </label>
              <div class="">
                <input
                  type="date"
                  class="rounded-full p-3 border"
                  placeholder="01/01/2022" [formControl]="date"
                />

              </div>
              <div class="flex flex-col items-center mt-1">
                <label for="Prenom"
                ><div class="text-md font-bold text-white">
                 Type de versement
                </div>
              </label>
              <div class="flex justify-between space-x-2 space-y-1 text-white ">
                <div class=" flex flex-col mt-1 items-center">
                  <label for="">Espece</label>
                 <a (click)="affichepaiem() "><input type="radio" name="test" id=""></a>
                </div>
                <div class=" flex flex-col items-center">
                  <label for="">Cheque</label>
                  <input type="radio" name="test" id="">
                </div>
                <div class=" flex flex-col items-center">
                  <label for="">Virement</label>
                  <input type="radio" name="test" id="">
                </div>
                <div class="flex flex-col items-center">
                  <label for="">Banque</label>
                  <input type="radio" name="test" id="">
                </div>
              </div>
              <div>
                <ng-container *ngIf="paiemen==true"  [ngTemplateOutlet]="paiement" ></ng-container>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
   <div class="flex space-x-2">
    <a href="#ex1" rel="modal:open" class=" ">  <button (click)="postversement() " class="bg-bleudusite border-2 py-3 px-8 w-[100%] rounded-[20px]">
      <span class="text-white">Enregistrer</span>
    </button></a>

   </div>
</ng-template>
<!-- Fin Etudiant -->
