<div class="col-span-1 h-full bg-bleudusite flex flex-col items-center mt-2 space-y-5 pl-2 py-3 " >
  <a routerLink="/dashboard/{{user}}"><img src="../../assets/carre/accueil.svg" alt=""></a>

  <a routerLink="/versement/{{user}}"><img src="../../assets/carre/versement.svg" width="106.5px" alt=""></a>

  <a routerLink="/statistique"><img src="../../assets/carre/tableau-de-bord.svg" width="106.5px" alt=""></a>
 <a routerLink="/parametre"> <img src="../../assets/carre/parametres.svg" width="106.5px" alt=""></a>

 <img src="../../assets/carre/deconnexion.svg" width="106.5px"  alt="">

</div>
