<div class="grid grid-cols-8 h-full text-blanc ">
  <app-sidebar></app-sidebar>
  <div class="col-span-7 bg-gris-clair flex  space-x-4 w-full px-5 h-auto">
    <div class="py-10 w-full  ">
      <p class="font-bold leading-6 tracking-wider py-1 " style="font-size: 35px; color: #3596D2;">DIGIREC ESMT</p>
      <div class="bg-gris-clair  rounded-lg shadow-md flex flex-col py-6 px-6 space-y-8  ">
        <div class="w-full flex space-x-1">
        <div class=" w-1/2 flex justify-between py-1  items-center rounded-lg  px-2  ">
          <p class=" bg-bleudusite text-xl px-1 text-white font-semibold py-2 rounded-l-lg w-1/2" >LISTE DES ETUDIANTS </p>
          <p class=" w-1/2 px-2 text-white text-xl text-right py-2 font-semibold rounded-r-lg  bg-verte">2023-2024</p>
      </div>

      </div>
      <div class="flex space-x-2">
        <div class="bg-white w-1/3 text-black py-2 px-2 ">
          <p class="bg-bleudusite w-1/2 text-white text-base font-bold pl-1 py-1 rounded-lg ">Situation </p>
          <div class="flex space-x-2">
              <div class="bg-white shadow-lg rounded-lg px-2 flex flex-wrap space-x-2 w-full ">
                <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 76 77">
                    <defs>
                      <filter id="Ellipse_17" x="0" y="0" width="76" height="77" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="ICONE_PREVISONNNEL" data-name="ICONE PREVISONNNEL" transform="translate(8.545 6)">
                      <g transform="matrix(1, 0, 0, 1, -8.54, -6)" filter="url(#Ellipse_17)">
                        <ellipse id="Ellipse_17-2" data-name="Ellipse 17" cx="29" cy="29.5" rx="29" ry="29.5" transform="translate(9 6)" fill="#fff"/>
                      </g>
                      <g id="_6598184_bill_finance_payment_receipt_sale_icon" data-name="6598184_bill_finance_payment_receipt_sale_icon" transform="translate(12.488 12.501)">
                        <path id="Tracé_2573" data-name="Tracé 2573" d="M15.574,30.52h-9.5a1.127,1.127,0,1,1,0-2.254h8.735a11.2,11.2,0,0,1-.282-2.468,11.441,11.441,0,0,1,.361-2.8H6.072a1.127,1.127,0,0,1,0-2.254h9.66a11.339,11.339,0,0,1,5.557-5.264H6.072a1.127,1.127,0,0,1,0-2.254h15.78a1.127,1.127,0,0,1,.947,1.713,11.463,11.463,0,0,1,3-.417,7.479,7.479,0,0,1,1.127.056V4.381A3.381,3.381,0,0,0,23.543,1H4.381A3.381,3.381,0,0,0,1,4.381V31.433a3.381,3.381,0,0,0,3.381,3.381H19.034a11.271,11.271,0,0,1-3.46-4.294Zm-9.5-24.8h15.78a1.127,1.127,0,1,1,0,2.254H6.072a1.127,1.127,0,0,1,0-2.254Z" transform="translate(-1 -1)" fill="#3596d2"/>
                        <path id="Tracé_2574" data-name="Tracé 2574" d="M24.017,15a9.017,9.017,0,1,0,9.017,9.017A9.017,9.017,0,0,0,24.017,15ZM21.2,20.072h.113a1.127,1.127,0,1,1-.113,0Zm5.636,7.89a1.129,1.129,0,0,1-.113-2.254h.113a1.127,1.127,0,0,1,0,2.254Zm.8-5.963L22,27.635a1.132,1.132,0,1,1-1.6-1.6L26.035,20.4a1.132,1.132,0,1,1,1.6,1.6Z" transform="translate(0.78 0.78)" fill="#3596d2"/>
                      </g>
                    </g>
                  </svg>
                  <p class="w-8 text-sm">Abandon 23 | 0,001</p>
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 76 77">
                    <defs>
                      <filter id="Ellipse_17" x="0" y="0" width="76" height="77" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="ICONE_CA" data-name="ICONE CA" transform="translate(9.211 6)">
                      <g transform="matrix(1, 0, 0, 1, -9.21, -6)" filter="url(#Ellipse_17)">
                        <ellipse id="Ellipse_17-2" data-name="Ellipse 17" cx="29" cy="29.5" rx="29" ry="29.5" transform="translate(9 6)" fill="#fff"/>
                      </g>
                      <path id="_3671753_currency_dollar_icon" data-name="3671753_currency_dollar_icon" d="M19.612,39.224A19.612,19.612,0,1,1,39.223,19.612,19.612,19.612,0,0,1,19.612,39.224Zm1.961-9.806h1.961a5.884,5.884,0,0,0,0-11.767H15.67a1.961,1.961,0,0,1,0-3.922H27.456V9.806H21.573V5.884H17.65V9.806H15.689a5.884,5.884,0,0,0,0,11.767h7.845a1.961,1.961,0,0,1,0,3.922H11.767v3.922H17.65V33.34h3.922Z" transform="translate(9.268 9.52)" fill="#3596d2"/>
                    </g>
                  </svg>
                  <p class="w-8 text-sm">Rattrapage 25 | 0,001</p>
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 77 77">
                    <defs>
                      <filter id="Ellipse_17" x="0" y="0" width="77" height="77" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="ICONE_RAP" data-name="ICONE RAP" transform="translate(9.105 6)">
                      <g transform="matrix(1, 0, 0, 1, -9.1, -6)" filter="url(#Ellipse_17)">
                        <circle id="Ellipse_17-2" data-name="Ellipse 17" cx="29.5" cy="29.5" r="29.5" transform="translate(9 6)" fill="#fff"/>
                      </g>
                      <g id="icone-restant" transform="translate(5.844 11.713)">
                        <path id="Tracé_2571" data-name="Tracé 2571" d="M58.441,24.629a2.941,2.941,0,0,0-4.16,0L53,25.909A17.668,17.668,0,0,0,35.768,12a17.43,17.43,0,0,0-10.6,3.608A2.941,2.941,0,0,0,28.718,20.3a11.6,11.6,0,0,1,7.05-2.413,11.746,11.746,0,0,1,11.117,8.079l-1.947-1.551a2.94,2.94,0,0,0-3.666,4.6l7.372,5.884a2.937,2.937,0,0,0,3.913-.218l5.884-5.884a2.941,2.941,0,0,0,0-4.16Z" transform="translate(-12.234 -12)" fill="#f26013"/>
                        <path id="Tracé_2572" data-name="Tracé 2572" d="M30.585,51.241a11.6,11.6,0,0,1-7.05,2.413,11.746,11.746,0,0,1-11.117-8.079l1.946,1.551a2.94,2.94,0,0,0,3.666-4.6l-7.372-5.884a2.945,2.945,0,0,0-3.913.218L.863,42.749a2.942,2.942,0,1,0,4.16,4.16l1.28-1.28A17.668,17.668,0,0,0,23.535,59.538a17.43,17.43,0,0,0,10.6-3.608,2.941,2.941,0,1,0-3.551-4.689Z" transform="translate(-0.001 -24.236)" fill="#f26013"/>
                      </g>
                    </g>
                  </svg>
                  <p class="w-8 text-sm">Rattrapage 25 | 0,001</p>
                </div>
                <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 76 77">
                    <defs>
                      <filter id="Ellipse_17" x="0" y="0" width="76" height="77" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="ICONE_PREVISONNNEL" data-name="ICONE PREVISONNNEL" transform="translate(8.545 6)">
                      <g transform="matrix(1, 0, 0, 1, -8.54, -6)" filter="url(#Ellipse_17)">
                        <ellipse id="Ellipse_17-2" data-name="Ellipse 17" cx="29" cy="29.5" rx="29" ry="29.5" transform="translate(9 6)" fill="#fff"/>
                      </g>
                      <g id="_6598184_bill_finance_payment_receipt_sale_icon" data-name="6598184_bill_finance_payment_receipt_sale_icon" transform="translate(12.488 12.501)">
                        <path id="Tracé_2573" data-name="Tracé 2573" d="M15.574,30.52h-9.5a1.127,1.127,0,1,1,0-2.254h8.735a11.2,11.2,0,0,1-.282-2.468,11.441,11.441,0,0,1,.361-2.8H6.072a1.127,1.127,0,0,1,0-2.254h9.66a11.339,11.339,0,0,1,5.557-5.264H6.072a1.127,1.127,0,0,1,0-2.254h15.78a1.127,1.127,0,0,1,.947,1.713,11.463,11.463,0,0,1,3-.417,7.479,7.479,0,0,1,1.127.056V4.381A3.381,3.381,0,0,0,23.543,1H4.381A3.381,3.381,0,0,0,1,4.381V31.433a3.381,3.381,0,0,0,3.381,3.381H19.034a11.271,11.271,0,0,1-3.46-4.294Zm-9.5-24.8h15.78a1.127,1.127,0,1,1,0,2.254H6.072a1.127,1.127,0,0,1,0-2.254Z" transform="translate(-1 -1)" fill="#3596d2"/>
                        <path id="Tracé_2574" data-name="Tracé 2574" d="M24.017,15a9.017,9.017,0,1,0,9.017,9.017A9.017,9.017,0,0,0,24.017,15ZM21.2,20.072h.113a1.127,1.127,0,1,1-.113,0Zm5.636,7.89a1.129,1.129,0,0,1-.113-2.254h.113a1.127,1.127,0,0,1,0,2.254Zm.8-5.963L22,27.635a1.132,1.132,0,1,1-1.6-1.6L26.035,20.4a1.132,1.132,0,1,1,1.6,1.6Z" transform="translate(0.78 0.78)" fill="#3596d2"/>
                      </g>
                    </g>
                  </svg>
                  <p class="w-8 text-sm">Abandon 23 | 0,001</p>
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="70" height="70" viewBox="0 0 76 77">
                    <defs>
                      <filter id="Ellipse_17" x="0" y="0" width="76" height="77" filterUnits="userSpaceOnUse">
                        <feOffset dy="3" input="SourceAlpha"/>
                        <feGaussianBlur stdDeviation="3" result="blur"/>
                        <feFlood flood-opacity="0.161"/>
                        <feComposite operator="in" in2="blur"/>
                        <feComposite in="SourceGraphic"/>
                      </filter>
                    </defs>
                    <g id="ICONE_CA" data-name="ICONE CA" transform="translate(9.211 6)">
                      <g transform="matrix(1, 0, 0, 1, -9.21, -6)" filter="url(#Ellipse_17)">
                        <ellipse id="Ellipse_17-2" data-name="Ellipse 17" cx="29" cy="29.5" rx="29" ry="29.5" transform="translate(9 6)" fill="#fff"/>
                      </g>
                      <path id="_3671753_currency_dollar_icon" data-name="3671753_currency_dollar_icon" d="M19.612,39.224A19.612,19.612,0,1,1,39.223,19.612,19.612,19.612,0,0,1,19.612,39.224Zm1.961-9.806h1.961a5.884,5.884,0,0,0,0-11.767H15.67a1.961,1.961,0,0,1,0-3.922H27.456V9.806H21.573V5.884H17.65V9.806H15.689a5.884,5.884,0,0,0,0,11.767h7.845a1.961,1.961,0,0,1,0,3.922H11.767v3.922H17.65V33.34h3.922Z" transform="translate(9.268 9.52)" fill="#3596d2"/>
                    </g>
                  </svg>
                  <p class="w-8 text-sm">Rattrapage 25 | 0,001</p>
                </div>
               
              </div>
              
          </div>
        </div>
        <div class="bg-white w-full px-2 py-3">
            <div class="flex w-full items-baseline">
              <p class="bg-bleudusite text-white rounded-lg py-2 px-1">Liste des étudiants par classe</p>
              
            </div>
            <div class="w-full shadow-md py-2 px-1">
              <select  [formControl]="classe" id="classe"(change)="changeetudiant(infoEtudiant)" autocomplete="classe-name" class="my-2 block w-24 bg-bleudusite py-2 px-3 border border-gray-300 text-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm  ">
                <optgroup label="Cours du Jour">
                  <option>CPS 1</option>
                  <option>CPS 2</option>
                  <option>LMEN 1</option>
                  <option>LMEN 2</option>
                  <option>LMEN 3</option>
                  <option>LTI 1</option>
                  <option>LTI 2</option>
                  <option>LTI 3</option>
                  <option>LP 3</option>
                  <option>INGC 1</option>
                  <option>INGC 2</option>
                  <option >INGC 3</option>
                  <option>MPSI 1</option>
                  <option>MPSI 2</option>
                  <option>MPTD 1</option>
                  <option>MPTD 2</option>
                  <option>MPTM</option>
                </optgroup>

                <optgroup label="Cours en ligne">
                  <option>MDSIA 1</option>
                  <option>MS2D 1</option>
                  <option>MPRN 1</option>
                  <option>MPRN 2</option>
                  <option>MTIS 1</option>
                  <option>MTIS 2</option>
                </optgroup>

                <optgroup label="Cours du soir">
                  <option>MPSI 1 - CS</option>
                  <option>MPSI 2 - CS</option>
                  <option>MPTD 1 - CS</option>
                  <option>MPTD 2 - CS</option>
                  <option>MPTM</option>
                  <option>IGIT 1</option>
                  <option>IGIT 2</option>
                </optgroup>

              </select>
              <table class="w-full border font-bold my-2 py-2" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
               
                <thead>
                  <tr>
                    <th class="border-2 border-bleudusite text-bleudusite text-center font-bold py-1">ID</th>
                    <th class="border-2  border-bleudusite text-bleudusite text-center font-bold py-1">NOM</th>
                    <th class="border-2 border-bleudusite text-bleudusite font-bold text-center py-1"> CLASSE </th>
                    <th class="border-2 border-bleudusite text-bleudusite text-center font-bold py-1">TELEPHONE</th>
                    <th class="border-2  border-bleudusite text-bleudusite text-center font-bold py-1">EMAIL</th>
                  </tr>
                 
                </thead>
                <tbody>
                  <tr class="text-black text-sm font-medium" *ngFor="let item of infoEtudiant2">
                    <td class="py-2 text-center border border-bleudusite"> {{item.num_etudiant}} </td>
                    <td  class="py-2 text-center border-bleudusite border">{{item.prenom}} {{item.nom}} </td>
                    <td  class="py-2 text-center border-bleudusite border">{{item.classe}} </td>
                    <td  class="py-2 text-center border-bleudusite border">{{item.telephone}} </td>
                    <td  class="py-2 text-center border-bleudusite border">{{item.email}} </td>
                  </tr>
                 
                 
                </tbody>
              </table>
            </div>
        </div>
    </div>
      </div>

    </div>
    <div class="w-1/6 py-10" >
      <app-dropdown></app-dropdown>
    </div>

  </div>
</div>
